.somos{
	text-align: center;
	color: #1785ca;
}

.objetivo{
	text-align: center;
	color: #1785ca;
}

.nav{
	
}


.listado{
	color: grey;
	
}

.text-uppercase mb-4{
	color: black;
}
.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.navbar li { color: #000 } 
.img_nav{
	width: 70%;
}

.col-md-12{
	margin-top: 120px;
}

.simbolos{
	font-size: 800%;
	text-align: center;
	color: #007eff73;
}

.sonrisa{
	width: 80%
}

